<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <connectionStrings>
    <!--
    List every database you want to back up as a connection string that
    starts with the string Target. We will back up each one of those to the 
    azure storage container detailed below.
    -->
    <add name="TargetDatabase" connectionString="Data Source=TestServer;Initial Catalog=TestDb;Integrated Security=True" />
    <!--
    All data will be sent to the Azurestorage account defined by the following data.  Edit below
    and provide your account name and key
    -->
    <add name="AzureStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=<accountName>;AccountKey=<accountKey>;" />
  </connectionStrings>
  <appSettings>
    <!--
    In order to do a backup, the database needs credentials.  Those are the same as found in the AccountKey section
    of the connection string above.  If they dont already exist, we will create the sql credentials
    with the data from the connection string, and name it the value listed below.
    -->
    <add key="CredentialsName" value="AzureBackupCredentials" />
    <!--
    We will backup each database to the url specified below.  consult your azure container to find the url
    but in general it is likely to be your accountname.blob... as shown below
    -->
    <add key="TargetURL" value="https://<account>.blob.core.windows.net/" />
    <!--
    The url above will be further refined to point to the container listed below.  Consult your azure settings
    We do not create it if it is missing, though we probably should.
    -->
    <add key="Container" value="backup" />

    <!--
    Finally, once we complete the backup, we scan through azure looking for old backups we dont want around
    any more.  We use the following regex to find them.. All backups end up with a .bak extension
    -->
    <add key="MatchRegex" value=".*bak" />
    <!--
    Further, in addition to matching the regex above, the backups must be older than the timespan listed below
    Currently, set to 30 days.
    -->
    <add key="Age" value="30.00:00:00" />
  </appSettings>
  <runtime>
    
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="SharpYaml" publicKeyToken="1ced8108e942bc02" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-1.2.0.29887" newVersion="1.2.0.29887" />
  </dependentAssembly>
  <dependentAssembly>
    <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime>
</configuration>
